<footer class="page-footer {{ site.footer-color }}">
    <div class="container">
      <div class="row">
        <div class="col l4 s12">
          <h5 class="white-text">About</h5>
          <p class="grey-text text-lighten-4">
              "{{ site.description }}"
          </p>
        </div>

        <div class="col l4 s12 right">
          <ul>
            {% if site.developedby == true %}
            <img alt='Developed by Bruno-chanrio' width='350' src='{{ site.url }}{{ site.baseurl }}/assets/img/Bruno-chanrio_DevelopedBy_Badge.png'/>
            {% endif %}
          </ul>
        </div>

      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        Copyright © {{ site.author }}.
      </div>
    </div>
  </footer>

