<div class="nav-wrapper">
      {% if site.logo %}<img alt='{{ site.title }} Logo' height='48' src='{{ site.url }}{{ site.baseurl }}{{ site.logo }}'/>{% elsif %}<span class="site-title">{{ site.title }}</span>{% endif %}
      <a href="#" data-activates="mobile-navbar" class="button-collapse"><i class="mdi mdi-menu white-text"></i></a>
      
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        {% for page in site.data.toc %}
            <li><a href="{{ site.url }}{{ site.baseurl }}/{{ page.url }}" class="waves-effect waves-teal black-text">
                  <i class="mdi mdi-{{ page.icon }} left white"></i>{{ page.title }}
            </a></li>
        {% endfor %}
      </ul>
      <ul class="side-nav" id="mobile-navbar">
        {% for page in site.data.toc %}
            <li><a href="{{ site.url }}{{ site.baseurl }}/{{ page.url }}" class="waves-effect waves-teal black-text">
                  <i class="mdi mdi-{{ page.icon }} left {{ page.color }}-text"></i>{{ page.title }}
            </a></li>
        {% endfor %}
      </ul>
</div>
