<div class="nav-wrapper">
      <span class="site-title">{{ site.title }}</span>
      <a href="#" data-activates="mobile-navbar" class="button-collapse"><i class="mdi mdi-menu white-text"></i></a>
      
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        {% for page in site.data.toc %}
            <li><a href="{{ '/{{ page.url }}' | prepend: site.baseurl }}" class="waves-effect waves-teal black-text">
                  <i class="mdi mdi-{{ page.icon }} left {{ page.color }}"></i>{{ page.title }}
            </a></li>
        {% endfor %}
      </ul>
      <ul class="side-nav" id="mobile-navbar">
        {% for page in site.data.toc %}
            <li><a href="{{ '/{{ page.url }}' | prepend: site.baseurl }}" class="waves-effect waves-teal black-text">
                  <i class="mdi mdi-{{ page.icon }} left {{ page.color }}"></i>{{ page.title }}
            </a></li>
        {% endfor %}
      </ul>
</div>
